VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=shortsinshort-3a6d2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shortsinshort-3a6d2
VITE_FIREBASE_STORAGE_BUCKET=shortsinshort-3a6d2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1087270378006
VITE_FIREBASE_APP_ID=
VITE_OWNER_EMAIL=equaltales@gmail.com
